.login-container {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-content-container {
  text-align: center;
}

.login-content-container form {
  display: flex;
  flex-direction: column;
}