.register_container {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorMsg {
  color: red;
}